<div id="<%= dom_id asociado %>">
  <p>
    <strong>Nombre:</strong>
    <%= asociado.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= asociado.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= asociado.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= asociado.email %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= asociado.rut %>
  </p>

  <p>
    <strong>Representante:</strong>
    <%= asociado.representante %>
  </p>

  <p>
    <strong>Email representante:</strong>
    <%= asociado.email_representante %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= asociado.comuna_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= asociado.estado %>
  </p>

  <p>
    <strong>Tipo socio:</strong>
    <%= asociado.tipo_socio_id %>
  </p>

</div>
