<div id="<%= dom_id boleta %>">
  <p>
    <strong>Payer:</strong>
    <%= boleta.payer %>
  </p>

  <p>
    <strong>Floworder:</strong>
    <%= boleta.flowOrder %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= boleta.status %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= boleta.subject %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= boleta.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= boleta.currency %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= boleta.media %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= boleta.token %>
  </p>

  <p>
    <strong>Asociado:</strong>
    <%= boleta.asociado_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= boleta.estado %>
  </p>

  <p>
    <strong>Tipo pago:</strong>
    <%= boleta.tipo_pago_id %>
  </p>

</div>
