<%= form_with(model: tipo_socio) do |form| %>
  <% if tipo_socio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_socio.errors.count, "error") %> prohibited this tipo_socio from being saved:</h2>

      <ul>
        <% tipo_socio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :tipo_colaborador, style: "display: block" %>
    <%= form.number_field :tipo_colaborador %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
